/*one stylesheet to rule them all !*/
.flex {
  display: flex; }

.wrap {
  flex-wrap: wrap; }

.nowrap {
  flex-wrap: wrap; }

/*Extra small devices (stand-up phones, 575px and down)*/
@media screen and (max-width: 575px) {
  .xs-row {
    flex-direction: row; }

  .xs-column {
    flex-direction: column; }

  .xs-hidden {
    visibility: hidden; }

  .xs-disnone {
    display: none; } }
/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
  .sm-row {
    flex-direction: row; }

  .sm-column {
    flex-direction: column; }

  .sm-hidden {
    visibility: hidden; }

  .sm-disnone {
    display: none; } }
/*Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {
  .md-row {
    flex-direction: row; }

  .md-column {
    flex-direction: column; }

  .md-hidden {
    visibility: hidden; }

  .md-disnone {
    display: none; } }
/*Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {
  .lg-row {
    flex-direction: row; }

  .lg-column {
    flex-direction: column; }

  .lg-hidden {
    visibility: hidden; }

  .lg-disnone {
    display: none; } }
/*Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {
  .xl-row {
    flex-direction: row; }

  .xl-column {
    flex-direction: column; }

  .xl-hidden {
    visibility: hidden; }

  .xl-disnone {
    display: none; } }
.fl-center {
  justify-content: center;
  align-items: center; }

.tx-center {
  text-align: center; }

.tx-justify {
  text-align: justify; }

.tx-left {
  text-align: left; }

.tx-right {
  text-align: right; }

@media screen and (max-width: 575px) {
  .xs-fl-around {
    justify-content: space-around; }

  .xs-fl-between {
    justify-content: space-between; }

  .xs-fl-end {
    justify-content: flex-end; }

  .xs-fl-start {
    justify-content: flex-start; }

  .xs-fl-center {
    justify-content: center; } }
@media screen and (min-width: 576px) {
  .sm-fl-around {
    justify-content: space-around; }

  .sm-fl-between {
    justify-content: space-between; }

  .sm-fl-end {
    justify-content: flex-end; }

  .sm-fl-start {
    justify-content: flex-start; }

  .sm-fl-center {
    justify-content: center; } }
@media screen and (min-width: 768px) {
  .md-fl-around {
    justify-content: space-around; }

  .md-fl-between {
    justify-content: space-between; }

  .md-fl-end {
    justify-content: flex-end; }

  .md-fl-start {
    justify-content: flex-start; }

  .md-fl-center {
    justify-content: center; } }
@media screen and (min-width: 992px) {
  .lg-fl-around {
    justify-content: space-around; }

  .lg-fl-between {
    justify-content: space-between; }

  .lg-fl-end {
    justify-content: flex-end; }

  .lg-fl-start {
    justify-content: flex-start; }

  .lg-fl-center {
    justify-content: center; } }
@media screen and (min-width: 1200px) {
  .xl-fl-around {
    justify-content: space-around; }

  .xl-fl-between {
    justify-content: space-between; }

  .xl-fl-end {
    justify-content: flex-end; }

  .xl-fl-start {
    justify-content: flex-start; }

  .xl-fl-center {
    justify-content: center; } }
body, html {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Helvetica;
  font-size: 16px; }

a {
  color: #00B7FF; }

.container {
  padding: 10px;
  transition: 0.5s ease-out; }

.card {
  padding: 0;
  margin: 0 auto 15px auto; }
  .card .info {
    padding: 10px; }
  .card .btn {
    cursor: pointer; }

.card-background {
  max-width: 350px;
  height: 450px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  color: tomato; }
  .card-background .img-card-background {
    height: 60%;
    padding: 0; }
  .card-background .info {
    height: 35%;
    overflow: hidden; }
    .card-background .info h1 {
      margin: 5px; }
    .card-background .info p {
      text-align: justify; }
  .card-background p {
    color: #111; }
  .card-background .btn-wrapper {
    color: inherit;
    min-height: 50px;
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    border-top: 1px solid #aaa;
    display: flex;
    justify-content: space-around;
    align-items: center; }

.card-info {
  max-width: 350px;
  height: 450px;
  max-height: 100vh;
  color: #444;
  display: flex;
  flex-direction: column; }
  .card-info .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 125px;
    margin-bottom: 30px; }
  .card-info .roof {
    min-height: 75px;
    width: 100%;
    background-color: #1cafe7; }
  .card-info img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: relative;
    top: -50px;
    align-self: center; }
  .card-info .info {
    height: auto;
    height: 100%; }
    .card-info .info h1 {
      text-align: center;
      color: inherit;
      border-bottom: 1px solid #777; }
    .card-info .info li {
      font-size: 1.2em;
      color: inherit; }
  .card-info .btn-wrapper {
    color: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #777;
    min-height: 50px; }
  .card-info .btn {
    font-size: 1.4em;
    min-width: 60px;
    padding: 5px; }

@media screen and (max-width: 575px) {
  .card {
    width: 100%; } }
.nav-top-ui {
  /*Up to 5 buttons*/
  position: sticky;
  padding: 0;
  margin: 0;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  height: 56px;
  box-shadow: 0px 1px 3px 0px #666;
  z-index: 1000; }
  .nav-top-ui .logo {
    margin-left: 10vw;
    max-height: 56px; }
    .nav-top-ui .logo img {
      max-height: 100%;
      max-width: 100%; }
  .nav-top-ui .btn-wrapper {
    margin-right: 10vw;
    display: flex; }
  .nav-top-ui a {
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0; }
  .nav-top-ui .btn {
    min-width: 45px;
    width: auto;
    max-width: 100px;
    text-align: center;
    padding: 5px;
    cursor: pointer; }

@media (max-width: 575px) {
  .nav-top-ui {
    justify-content: center; }
    .nav-top-ui .logo {
      display: none; }
    .nav-top-ui .btn-wrapper {
      width: 100%;
      justify-content: space-around;
      margin: 0; }
    .nav-top-ui .btn {
      /*width: 30%;*/
      /*max-width: 30%;*/ } }
.form-login {
  max-width: 90vw;
  width: 310px;
  padding: 15px 5px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .form-login input {
    width: 250px;
    max-width: 320px;
    padding: 5px;
    margin: 5px; }
  .form-login input[type=submit] {
    cursor: pointer; }

.login-clean {
  background-color: white;
  border: 1px solid #aaa; }
  .login-clean input[type=submit] {
    border: 1px solid #bbb;
    background-color: white;
    color: #222;
    box-shadow: 0px 1px 2px 0px #aaa; }

.login-dense {
  background-color: #444; }
  .login-dense input {
    background-color: white;
    border: none;
    color: #444; }
  .login-dense input[type=submit] {
    background-color: inherit;
    color: #eee;
    border-bottom: 1px solid #eee; }

.login-material {
  background-color: white;
  box-shadow: 0 3px 7px -2px #666; }
  .login-material input {
    border: none;
    color: #111;
    border-bottom: 1px solid #aaa; }
  .login-material input:focus {
    outline: none;
    border-bottom: 1px solid #0e98ce; }
  .login-material input[type=submit] {
    border: none;
    background-color: #0e98ce;
    color: #eee;
    box-shadow: 0px 3px 4px -1px #bbb; }

.shadow-z1 {
  box-shadow: 0px 1px 1px 0px #777; }

.shadow-z2 {
  box-shadow: 0px 2px 2px 0px #777; }

.shadow-z3 {
  box-shadow: 0px 3px 3px -1px #777; }

.shadow-z4 {
  box-shadow: 0px 5px 5px -2px #777; }

.shadow-z5 {
  box-shadow: 0px 7px 7px -3px #777; }

.flat {
  box-shadow: none !important; }

/*# sourceMappingURL=onesass.css.map */
