.nav-top-ui{ /*Up to 5 buttons*/
  position: sticky;
  padding: 0;
  margin: 0;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  height: 56px;
  box-shadow: 0px 1px 3px 0px #666;
  z-index: 1000;

    .logo{
      margin-left: 10vw;
      max-height: 56px;

        img{
          max-height: 100%;
          max-width: 100%;
        }
    }

    .btn-wrapper{
      margin-right: 10vw;
      display: flex;
    }

    a{
      text-decoration: none;
      color: inherit;
      padding: 0;
      margin: 0;
    }

    .btn{
      min-width: 45px;
      width: auto;
      max-width: 100px;
      text-align: center;
      padding: 5px;
      cursor: pointer;
    }
}



  @media (max-width:575px) {
    .nav-top-ui {
      justify-content: center;

        .logo {
         display: none;
        }

        .btn-wrapper {
          width: 100%;
          justify-content: space-around;
          margin: 0;
        }

        .btn{
          /*width: 30%;*/
          /*max-width: 30%;*/
        }
    }

  }
