.shadow-z1{
  box-shadow: 0px 1px 1px 0px #777;
}
.shadow-z2{
  box-shadow: 0px 2px 2px 0px #777;
}
.shadow-z3{
  box-shadow: 0px 3px 3px -1px #777;

}
.shadow-z4{
  box-shadow: 0px 5px 5px -2px #777;

}
.shadow-z5{
  box-shadow: 0px 7px 7px -3px #777;

}
.flat{
  box-shadow: none!important;
}
